/.idea/*
.DS_Store
/NotionTools/BestTVEpisodes/Saved Data/*
/NotionTools/MoviesTools/.idea
/NotionTools/MoviesTools/secrets.json
/NotionTools/MoviesTools/src/secrets.json
/YoutubeChannelMostViewedVideos/.idea
/YoutubeChannelMostViewedVideos/.env
